
{% for name in nacl %}
resource aws_networl_acl {{ name }} {
  vpc_id = ...
}

{% for rule in nacl[name].ingress %}
resource aws_network_acl_rule bastion-{{ rule.id }} {
  network_acl_id = aws_network_acl.{{ name }}.id
  egress         = false

  protocol   = "{{ rule.proto }}"
  from_port  = "{{ rule.from_port }}
  to_port    = "{{ rule.to_port }}
  cidr_block = "{{ rule.cidr }}

  rule_action = "allow"
}
{% endfor %}

{% endfor %}
